header {
    font-size: large;
    color: pink;
    background-color: rgba(144, 205, 146, 0.386);
    display: flex;
    border-radius: 5px;
    font-family: 'Satisfy', cursive;
}

main {
    font-size: medium;
    font-weight: bold;
    background-color: rgba(144, 205, 146, 0.386);
    text-align: center;
    font-family: 'Kalam', cursive;
    border-radius: 5px;
}

footer {
    text-align: center;
}

footer a {
    background-color: pink;
    color: hotpink;
    text-decoration: none;
    border-radius: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}